@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=block');

body {
  margin: 0;
  font-family: "Helvetica Neue", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 0px !important;
}

.carousel {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .card-deck {
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.project-slide {
  /* margin: 100px; */
  margin: 0px;
  margin-left: 80px;
  margin-right: 70px;
}

.card {
  border-radius: 0;
  margin: 5px 5px !important;
}

.carousel-item {
  transition: transform 0.4s ease-in-out !important;
}

@media (max-width: 768px) {
  .carousel-inner {
    padding: 5px 0px;
  }
  .project-slide {
    margin: 0px;

    /* margin-right: 5px; */
  }

  .carousel-indicators,
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .carousel-item {
    margin-right: auto;
    display: block;
  }
  .card {
    /* margin: 4px 0px !important; */
    margin: 2px 2px !important;
    border: none;
    /* border-radius: 3px; */
  }
}

.card-body {
  /* padding: 15px; */
  /* max-width: 300px; */
  /* background-color:#35363A;
  color: white; */
}

.card-title {
  font-weight: bold;
  margin: 0;
}

.card-text {
  margin: 0;
}

.cardContent {
  padding: 20px 0;
}

.tag {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 2px 5px;
  margin: 0 0.5rem 0 0;
  /* padding: 0 .5rem; */
}
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  /* filter: invert(1); */
}
/* 
.tab-contents  {
  width: auto;
}

.tab-pane {
  width: auto;
} */

.carousel-control-next {
  width: auto;
  margin-right: 30px;
}

.carousel-control-prev {
  width: auto;
  margin-left: 30px;
}
/* .experience-contents {
  max-height: 100vh;
} */
@media (min-width: 769px) {
  .experience-contents-cards {
    margin-left: 80px;
    margin-right: 20px;
  }
  .carousel-itemz {
    /* min-height: 100%; 
    min-height: 100vh; */
    /* height: 90vh; */
    display: flex;
    align-items: center;
  }

  .carousel-inner {
    /* min-height: 100%; 
    min-height: 90vh; */
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .col-sm-4 {
    max-height: 70vh;
    overflow-y: scroll;
    height: 650px;
    min-height: 300px;
  }
  .experience-card-contents {
    height: 650px;
    max-height: 70vh;
    min-height: 300px;
  }
}
.experience-contents {
  /* margin-right: auto;
  margin-left: auto; */
  /* margin: 0px 20px; */
  display: flex;
  align-items: center;

  /* width: 975px; */
  /* max-width: 800px; */
}
/* .experience-card-text {
  max-height: 60vh;
} */
h1 {
  margin: 0;
  font-family: "Montserrat";
  font-size: 20px;
}

.hidee {
  display: block;
}


@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

.experience-card {
  background-color: transparent;
}

.experience-card-contents {
  margin: 0 !important;
  /* min-height: 650px; */
  /* height: 630px; */
  /* width: 800px; */
  /* min-height: 600px; */
  /* min-width: 600px; */
}

.col-sm-4 {
  margin: 0;
  padding: 0;
  max-width: 280px;
}

.col-sm-8 {
  margin: 0;
  padding: 0;
  flex: auto;
  max-width: none;
  /* max-width: 300px; */
}

.list-group {
  border-radius: 0;
  overflow-y: scroll;
}

.company-logo {
  height: 50px;
  padding-top: 100%;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: unset;
}

footer {
  color: white;
  background-color: #343a40;
}

.portfolio {
  /* background-color: red; */
  /* background-color: #5CDb95; */
  /* background-color: #7395AE; */
  /* background-color: #636179; */
  background-color: #6876a5;
  min-height: 90vh;
  display: flex;
  align-items: center;
  
}

.experience {
  /* background-color:blue; */
  /* #6876a5 */
  background-color:#6699CC;
  
  min-height: 95vh;
  display: flex;
  align-items: center;
}

/* .list-group-item {
  background-color: transparent;
  border: none;
  border-bottom:1px solid #707070;
} */
a:focus {
  outline: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}
.btn:hover {
  outline: 0;
  box-shadow: none;
}
.btn:active {
  outline: 0;
  box-shadow: none;
}

.experience-card-header {
  width: 70%;
  padding: 10px 0px;
  border-bottom: 1px solid #707070;
}

/* .experience-card-body {
  height: 50vh;
} */

.experience-card-text {
  margin: 20px 2px;
  overflow-y: scroll;
}

.list-group {
  /* height: 63.2vh; */
  /* height: 800px; */
  background-color: white;
  min-height: 650px;
}

.row {
  /* margin-right: -37px; */
  /* padding: 0; */
}

.experience-card-body {
  margin: 10px 40px;
}

.experience-contents-cards {
  display: flex;
  max-width: 1000px;
  margin: 10px;
}

/* .experience-show-more {
  display: none;
} */

.experience-contents-cards {
  max-width: 1000px;
}

.collapse:not(.show) {
  display: block;
}

.experience-show-more {
  display: block;
  text-align: left;
  width: 100%;
  /* padding:0; */
  margin: 0;
  padding: 0;
  pointer-events: none;
  /* padding: 0px 10px; */
}
.experience-show-more-container {
  display: none;
}
/* a[href] { display: none; } */
@media (min-width: 769px) {
  .experience-card-body {
    padding: 0;
    overflow-y: scroll;
  }
}

a:hover {
  text-decoration: none;
}

.experience-buttons {
  pointer-events: none;
}

.navbar-toggler {
  border: none;
}

.experience-anchor-button {
  pointer-events: none;
}

@media (max-width: 768px) {
  .col-sm-4 {
    display: none;
  }
  .tab-pane {
    display: block !important;
  }
  .fade:not(.show) {
    opacity: 100;
  }

  .experience-card-contents {
    height: auto;
    /* margin-bottom: 10px!important; */
    margin: 2px 2px !important;
    /* border: 1px black; */
    /* border-style: solid; */
    /* padding: 10px; */
  }

  .experience-card-header {
    width: 100%;
    min-height: 110px;
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
  }

  .experience-card-body {
    /* padding: 10px 10px; */
    /* padding: auto; */
    /* margin-left: 0;
    margin-right: 0; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0px 10px;
  }

  .experience-contents-cards {
    margin: 0;
    width: 100%;
  }

  .experience-contents {
    width: 100%;
    /* max-height: 90vh; */
  }

  .experience-card-header {
    border-bottom: none;
    padding: 0;
  }

  .experience-show-more {
    pointer-events: auto;
  }
  /* .experience-show-more:visited {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  } */
  .experience-show-more-normal {
    transition: 0.3s;
  }

  .experience-show-more-rotate {
    transition: 0.3s;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
  .experience-show-more-container {
    display: flex;
    align-items: center;
  }

  .experience {
    min-height: auto;
  }



  .collapse:not(.show) {
    display: none;
  }

  .company-logo-wrapper {
    width: 80px;
    display: flex;
    align-items: center;
  }

  .experience-card-text {
    margin: 0;
  }

  .experience-show-more-container {
    display: block;
  }

  .experience-buttons {
    pointer-events: auto;
  }
  .nav-link {
    padding: 1rem 1rem !important;
  }

  .navbar-collapse {
    background-color: #222222;
    width: 100%;
  }

  .navbar {
    padding: 0;
  }
  .mobile-nav {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .experience-card-contents {
    min-height: auto;
  }
  .list-group {
    min-height: auto;
  }

  .experience-anchor-button {
    pointer-events: auto;
  }
}

.disable-click {
  pointer-events: none;
}

.list-group {
  /* display: table;
  height : auto !important;  */
  height: 100%;
  /*min-height : 100%;  */
  flex: 1;

  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
.list-group-item {
  /* display: table-cell; */
  flex: 1;
}

/* .main-contents {
  height: calc(100vh - 300px);
} */

/* .site-contents {
    display: flex;
    flex-flow: column;
    max-height: 100%;
    overflow-Y: none;
  }
  .main-navbar {
    flex: 0 1 auto;
  }
  
  .main-contents {
    flex: 1 1 auto;
    overflow-Y: none;
    height: calc(100vh - 57px); 
  }
  */

/* .card-body {
    padding: 0;
  } */

/* padding: .5rem 1rem;  */
/* @media (max-width: 768px) {
  .card-deck {
    grid-template-columns: 1fr;
  }
} */

.welcome-container {
  /* background-color: white; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.welcome-card {
  /* width: 680px; */
  max-width: 680px;
  min-height: 420px;
  background-color: #ffffff;
  margin: 0px 50px;
  padding-bottom: 40px;
}

.welcome {
  height: 95vh;
  display: flex;
  align-items: center;
  padding: 80px 0;
  /* padding: 100px 0; */
}

.welcome-inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-banner {
  /* background-color: #4F6E9A; */
  background-color: #eaecef;
  height: 0px;
}

.welcome-content {
  /* height: 100%; */
  font-size: 19px;
  margin: 0px 30px;
}

.welcome-img {
  height: 120px;
  transform: translateY(-35%);
  margin-left: 30px;
  position: absolute;
}

.welcome-img-arrow {
  position: absolute;
  margin-left: 120px;
  /* transform:translateX(-40%); */
  /* margin-left: 60px; */
  /* height: 40px; */
  transform: translate(0%, 120%) rotate(-15deg);
}

.welcome-img-arrow {
  /* transform:translateX(-40%); */
  /* transform: translate(0%, -40%) rotate(15deg); */
}

.welcome-title {
  margin-top: 75px;
  margin-left: 60px;
  /* 
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 160px */
  /* display: none !important; */
}

.welcome-banner-content {
  /* float: right; */
  /* font-size: 10px; */
  /* margin-top: 40px; */
}

h3 {
  font-size: 2rem;
  /* margin-left: 55px; */
  font-weight: bold;
  /* margin: /0; */
  /* padding: 0; */
  font-family: "Helvetica Neue";
  text-align: left;
}
h2 {
  font-size: 5rem;
  margin-left: 50px;
  margin-right: auto;
  font-weight: bold;
  /* margin: /0; */
  padding: 0;
  font-family: "Helvetica Neue";
}

.contact {
  text-align: right;
  margin-top: 30px;
}

.contact-logos {
  margin-right: 10px;
}

.slide-title {
  font-size: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  color: #ffffff;
  font-weight: bold;
}
/* .projects-content {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.experience {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.experience-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 2000px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 2000px;
}
/* @media (max-width: 1100px) { 
  
 } */

 .experience-contents-cards {
  margin-left: 80px;
  margin-right: 20px;
}


.welcome {
  /* height: auto; */
  /* padding: 100px 0; */
  min-height: 95vh;
}
.experience {
  /* min-height: auto; */
  padding: 0px 0;
}

@media (max-width: 1350px) {
  .experience-contents-cards {
    margin: 0 20px;
  }
  h2 {
    font-size: 3em;
  }
  .portfolio {
    /* display: block; */
    min-height: auto;
  }

  .experience-container {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .projects-container {
    flex-direction: column;
    padding-bottom: 60px;
  }
  .slide-title {
    font-size: 3em;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .welcome {
    min-height: auto;
    height: auto;
    /* height: auto; */
  }
  .experience {
    min-height: auto;
    padding: 0px 0;
  }
}
.welcome-statement {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .card {
    /* margin: 0; */
    /* border: 1px solid rgba(0,0,0,.125) !important; */

  }
  .experience-contents-cards {
    margin: 0;
  }
  .portfolio {
    display: block;
  }
  .experience {
    display: block;
  }
  .welcome-card {
    margin: 0;
    min-width: 100%;
    min-height: 0;
    padding-bottom: 20px;
  }

  .slide-title {
    padding: 40px 10px;
    margin-bottom: 0;
    /* padding-top: 10px; */
    text-align: center;
  }

  .carousel-inner {
    padding: 0px;
  }

  .welcome-inner {
    display: block;
    /* align-items: center;
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto; */
  }

  h2 {
    font-size: 1rem;
    text-align: right;
    /* margin-top: 30px; */
    padding: 0;
    line-height: 0.7em;
  }
  .welcome {
    /* height: auto; */
    padding: 0;
    /* padding-bottom: 7px; */
  }

  .welcome-content {
    margin: 0px 10px;
    /* margin-top: 40px; */
    margin-bottom: 0px;
    font-size: 18px;
    text-align: justify;
    background-attachment: scroll;
  }

  .welcome-statement {
    margin: 20px 10px;
  }
  .welcome-title {
    margin-top: 45px;
    margin-left: 63px;
    margin-bottom: 10px;
  }

  .welcome-img {
    transform: translateY(-60%);
  }

  .contact {
    margin-top: 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  .welcome-title-item {
    padding-bottom: 0 !important;
    /* position: absolute; */
  }

  .welcome-img-arrow {
    position: absolute;
    margin-left: 115px;
    /* transform:translateX(-40%); */
    /* margin-left: 60px; */
    /* height: 40px; */
    transform: translate(0%, 55%) rotate(-8deg);
  }
  .experience-container {
    display: block;
    padding-bottom: 0px;
  }

  .projects-container {
    display: block;
    padding-bottom: 0px;
  }

  .experience-contents {
    display: block;
    margin: 0;
  }
  .last-card {
    margin-bottom: 0 !important;
  }
}

.carousel-indicators {
  display: none;
}
/* .projects-content {
  height: 
} */

.nav-active{
  /* font-weight: bold; */
  color: rgba(255,255,255,1) !important;
  font-weight: bold !important; 
}
a.nav-link:focus, .nav-link:focus {
  /* font-weight: bold;  */
  /* color: rgba(255,255,255,1) !important;
  opacity: 1!important; */
  /* color: rgba(255,255,255,.5) ; */
  /* opacity: 0.5 !important; */
} 


.navbar-default .navbar-nav li a:hover, 
 .navbar-default .navbar-nav > .active > a:hover  {
  color: rgba(255,255,255,.5);
 }

 .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,.5);
 }
 

/* .nav-link:hover {
  color: rgba(255,255,255,.5);
} */
.nav-link {
  font-weight: normal; 
}
/* 
.slide-container {
  overflow: scroll;
  height: 95vh; 
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(95vh);
  scroll-snap-type: y mandatory; 
}

.body-container {
  overflow: hidden;
}

section {
  scroll-snap-align: start;
  position: relative;
}

.footer {
  scroll-snap-align: end;
} */