@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=block");

body {
  margin: 0;
  font-family: "Helvetica Neue", "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.project-slide {
  margin: 0 70px 0 80px;
}

.card {
  border-radius: 0;
  margin: 5px !important;
}

.carousel {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item {
  transition: transform 0.4s ease-in-out !important;
}

.card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 0 !important;
}

.carousel-indicators {
  display: none;
}

.card-title {
  font-weight: bold;
  margin: 0;
}

.card-text {
  margin: 0;
}

@media (max-width: 768px) {
  .card-deck {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .carousel-inner {
    padding: 5px 0px;
  }

  .project-slide {
    margin: 0;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-item {
    margin-right: auto;
    display: block;
  }

  .card {
    margin: 2px !important;
    border: none;
  }
}

.card-content {
  padding: 20px 0;
}

.tag {
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 2px 5px;
  margin: 0 0.5rem 0 0;
}

.carousel-control-next {
  width: auto;
  margin-right: 30px;
}

.carousel-control-prev {
  width: auto;
  margin-left: 30px;
}

.experience-contents-cards {
  display: flex;
  max-width: 1000px;
  margin: 10px 20px 0px 80px;
}

.col-sm-4 {
  margin: 0;
  padding: 0;
  max-width: 280px;
  z-index: 1;
  background-color: white;
}

@media (min-width: 769px) {
  .experience-contents-cards {
    margin: 0 20px;
  }

  .carousel-container {
    display: flex;
    align-items: center;
  }

  .carousel-inner {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .col-sm-4 {
    max-height: 70vh;
    overflow-y: scroll;
    height: 650px;
    min-height: 300px;
  }

  .experience-card-contents {
    height: 650px;
    max-height: 70vh;
    min-height: 300px;
  }
}

.experience-contents {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: "Montserrat";
  font-size: 20px;
}

.hidee {
  display: block;
}

.experience-card {
  background-color: transparent;
}

.experience-card-contents {
  margin: 0 !important;
}

.col-sm-8 {
  margin: 0;
  padding: 0;
  flex: auto;
  max-width: none;
}

.list-group {
  border-radius: 0;
}

.company-logo {
  height: 50px;
  padding-top: 100%;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: unset;
}

footer {
  color: white;
  background-color: #343a40;
}

.portfolio {
  background-color: #6876a5;
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.experience {
  background-color: #6699cc;
  min-height: 95vh;
  display: flex;
  align-items: center;
}

a:focus {
  outline: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn:hover {
  outline: 0;
  box-shadow: none;
}

.btn:active {
  outline: 0;
  box-shadow: none;
}

.experience-card-header {
  width: 70%;
  padding: 10px 0px;
  border-bottom: 1px solid #707070;
}

.experience-card-text {
  margin: 20px 2px;
  overflow-y: scroll;
}

.list-group {
  background-color: white;
  min-height: 650px;
}

.experience-card-body {
  margin: 10px 40px;
}

.collapse:not(.show) {
  display: block;
}

.experience-show-more {
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.experience-show-more-container {
  display: none;
}

a:hover {
  text-decoration: none;
}

.experience-buttons {
  pointer-events: none;
}

.navbar-toggler {
  border: none;
}

.experience-anchor-button {
  pointer-events: none;
}

@media (min-width: 769px) {
  .experience-card-body {
    padding: 0;
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  .col-sm-4 {
    display: none;
  }
  .tab-pane {
    display: block !important;
  }
  .fade:not(.show) {
    opacity: 100;
  }

  .experience-card-contents {
    height: auto;
    margin: 2px !important;
  }

  .experience-card-header {
    width: 100%;
    min-height: 110px;
    display: flex;
    align-items: center;
  }

  .experience-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0px 10px;
  }

  .experience-contents-cards {
    margin: 0;
    width: 100%;
  }

  .experience-contents {
    width: 100%;
  }

  .experience-card-header {
    border-bottom: none;
    padding: 0;
  }

  .experience-show-more {
    pointer-events: auto;
  }

  .experience-show-more-normal {
    transition: 0.3s;
  }

  .experience-show-more-rotate {
    transition: 0.3s;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .experience-show-more-container {
    display: flex;
    align-items: center;
  }

  .experience {
    min-height: auto;
  }

  .collapse:not(.show) {
    display: none;
  }

  .company-logo-wrapper {
    width: 80px;
    display: flex;
    align-items: center;
  }

  .experience-card-text {
    margin: 0;
  }

  .experience-show-more-container {
    display: block;
  }

  .experience-buttons {
    pointer-events: auto;
  }

  .nav-link {
    padding: 1rem 1rem !important;
  }

  .navbar-collapse {
    background-color: #222222;
    width: 100%;
  }

  .navbar {
    padding: 0;
  }

  .mobile-nav {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .experience-card-contents {
    min-height: auto;
  }

  .list-group {
    min-height: auto;
  }

  .experience-anchor-button {
    pointer-events: auto;
  }
}

.disable-click {
  pointer-events: none;
}

.list-group {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.list-group-item {
  flex: 1;
}

.welcome-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.welcome-card {
  max-width: 680px;
  min-height: 420px;
  background-color: #ffffff;
  margin: 0px 50px;
  padding-bottom: 40px;
}

.welcome {
  height: 95vh;
  display: flex;
  align-items: center;
  padding: 80px 0;
}

.welcome-inner {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-banner {
  background-color: #eaecef;
  height: 0px;
}

.welcome-content {
  font-size: 19px;
  margin: 0px 30px;
}

.welcome-img {
  height: 120px;
  transform: translateY(-35%);
  margin-left: 30px;
  position: absolute;
}

.welcome-img-arrow {
  position: absolute;
  margin-left: 120px;
  transform: translate(0%, 120%) rotate(-15deg);
}

.welcome-title {
  margin-top: 75px;
  margin-left: 60px;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: left;
}

h2 {
  font-size: 5rem;
  margin-left: 50px;
  margin-right: auto;
  font-weight: bold;
  padding: 0;
  font-family: "Helvetica Neue";
}

.contact {
  text-align: right;
  margin-top: 30px;
}

.contact-logos {
  margin-right: 10px;
}

.slide-title {
  font-size: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  color: #ffffff;
  font-weight: bold;
}

.experience {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px;
}

.experience-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 2000px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 2000px;
}

.welcome {
  min-height: 95vh;
}

.welcome-statement {
  margin: 0 auto;
}

@media (max-width: 1350px) {
  h2 {
    font-size: 3em;
  }

  .portfolio {
    min-height: auto;
  }

  .experience-container {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .projects-container {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .slide-title {
    font-size: 3em;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .welcome {
    min-height: auto;
    height: auto;
  }

  .experience {
    min-height: auto;
    padding: 0;
  }
}

@media (min-width: 1351px) {
  .experience-contents-cards {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    display: block;
  }

  .experience {
    display: block;
  }

  .welcome-card {
    margin: 0;
    min-width: 100%;
    min-height: 0;
    padding-bottom: 20px;
  }

  .slide-title {
    padding: 40px 10px;
    margin-bottom: 0;
    text-align: center;
  }

  .carousel-inner {
    padding: 0px;
  }

  .welcome-inner {
    display: block;
  }

  h2 {
    font-size: 1rem;
    text-align: right;
    padding: 0;
    line-height: 0.7em;
  }

  .welcome {
    padding: 0;
  }

  .welcome-content {
    margin: 0px 10px;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: justify;
    background-attachment: scroll;
  }

  .welcome-statement {
    margin: 20px 10px;
  }

  .welcome-title {
    margin-top: 45px;
    margin-left: 63px;
    margin-bottom: 10px;
  }

  .welcome-img {
    transform: translateY(-60%);
  }

  .contact {
    margin-top: 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  .welcome-img-arrow {
    position: absolute;
    margin-left: 115px;
    transform: translate(0%, 55%) rotate(-8deg);
  }

  .experience-container {
    display: block;
    padding-bottom: 0px;
  }

  .projects-container {
    display: block;
    padding-bottom: 0px;
  }

  .experience-contents {
    display: block;
    margin: 0;
  }

  .last-card {
    margin-bottom: 0 !important;
  }
}

.nav-active {
  color: rgba(255, 255, 255, 1) !important;
  font-weight: bold !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link {
  font-weight: normal;
}

/* 
.slide-container {
  overflow: scroll;
  height: 95vh; 
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(95vh);
  scroll-snap-type: y mandatory; 
}

.body-container {
  overflow: hidden;
}

section {
  scroll-snap-align: start;
  position: relative;
}

.footer {
  scroll-snap-align: end;
} */
